* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  color: hsl(248, 70%, 10%);
  background-color: #edf2fa;
  height: 100vh;
  overflow: hidden;
}

.app {
  display: flex;
  justify-self: center;
  width: 50em;
  margin-top: 20em;
  margin-left: auto;
}

section {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2em;
  border-radius: 7px;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.avater-card {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-bottom: 2em;
}

.avater-card img {
  border: 1px solid gray;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avater-business {
  font-size: 1.5em;
  font-weight: normal;
}

.avater-card p {
  font-weight: 900;
  font-size: 1.5em;
}

.sign-input {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
}

.sign-input label {
  font-size: 2em;
}

.sign-input input {
  border: 2px solid hsl(248, 70%, 10%);
  outline: none;
  padding: 1em;
  width: 18em;
  border-radius: 7px;
  text-indent: 1.5em;
  /* font-size: 0.6em; */
}

.sign-input div {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 3em;
  cursor: pointer;
}

.input-container {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 0.1em;
}

.sign-toggle {
  display: flex;
  justify-content: space-between;
  width: 23.5em;
}

.sign-toggle div {
  display: flex;
  align-items: center;
  gap: 1em;
}

.toggle-icon {
  font-size: 3em;
  cursor: pointer;
}

.sign-toggle button {
  background-color: hsl(248, 70%, 10%);
  color: white;
  padding: 1em;
  border: none;
  border-radius: 4px;
  margin-top: 1em;
  cursor: pointer;
}

.reset-btn {
  font-size: 1.5em;
  border: none;
  border-bottom-style: solid;
  cursor: pointer;
  margin-top: 1em;
  background-color: inherit;
}

.reset-btn-p {
  font-size: 1em;
  margin-top: 1em;
}

@media only screen and (min-width: 576px) {
  .app {
    margin-top: 7em;
    margin-left: -50em;
    width: 20em;
  }
  h1 {
    font-size: 3em;
  }
  section {
    padding: 10rem;
  }

  .sign-input input {
    font-size: 0.6em;
    width: 25em;
  }

  .sign-toggle button {
    padding: 1em 2em;
  }

  .sign-toggle {
    width: 45em;
  }

  .reset-btn-p {
  font-size: 2em;
  margin-top: 2em;
}
}
